#login-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 1.5em;
}
#Empid, #password, #claimNoError, #claimProgramError, #endDateError, #startDateError {
  padding-left: 10px;
  color: red;
}
#login-form h1 {
  text-align: center;
  margin: 0 0 10px 0;
}
#login-form input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
#login-form input[type=button] {
  border: 0;
  background: #4367c4;
  color: #fff;
}
.navbar {
  padding: 0px !important;
}
.navbar-brand {
  color: #fff;
}
#signinbutton {
  position: relative;
  left: 10px;
  width: 100%;
}
#home {
  position: relative;
  left: 50px;
}
#label {
  font-weight: bold;
}

